.default{
    color: #fff !important;
    font-family: Montserrat,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

/*TIENDA Y CARRITO*/
.centrar_vertical{
    display: flex;
    align-items: center;
    justify-content: center;
}
.centrado{ 
    display: block !important;
    margin-right: auto;
    margin-left: auto;
}
.caja_btn_ver{
    margin-right: 5px;
}
.fila_tienda{
    /* height:10%;  */
    border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    border: 1px solid #dbdbdb;
    
}
.card{
    border: 0px !important;
}
.derecha{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}


/* CSS Para agregar cajas sin bootstrap, con flex, tipo: col-md-4*/
.contenedor{
    display: flex;
    justify-content: space-evenly; 
    padding: 0px 24px;
    margin: 0px 87.5px;
}
.caja{
    width: 30%;
    padding: 5px;
    margin: 2px;
    text-align: center;
}
.caja img{
    width: 100%;   
}